*{
    color : white;
    text-decoration: none;
}
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to left, #4da6ff, #001f4d);
    font-family: Arial, sans-serif;
}
marquee {
    font-size : 20px;
    font-weight: bold;
}
.image{
    height: 20px;
    width: 20px;
    border-radius: 1px;
}
.navbar {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 0px;
    background: rgba(255, 255, 255, 0.09);
    height: 30px;
    text-align: right;
    align-items: center;
}
.navdiv {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: auto;
}

li {
    list-style: none;
    display: inline;
    align-items: flex-end;
    font-weight: bold;
    margin-left: 12px;
}
li a{
    font-size: 25px;
    gap: 50px;
    line-height: 15px;
}

.links a:hover {
    color: lightgoldenrodyellow; 
    text-decoration: underline;
    font-size: 27px;
}
.name {
    height: 70vh;               
    display: flex;
    align-items: center;        
}

.name-content {
    padding-left: 70px; 
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.name h1 {
    font-size: 60px;
    margin: 0;
}

.below-text {
    margin-top: 10px;   
    font-size: 20px;
    opacity: 0.9;
    line-height: 1.6;
}
.information {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;     
    margin-top: 60px;   
}
table th {
    text-align: center;
    font-size: 20px;
}
table td {
    white-space: nowrap;
}

table img {
    display: block;
    margin: 0 auto;
}
.MyImage {
    width: 150px;
    height: 200px;
}
.Rank {
    width: 75px;
    height: 30px;
}
.heading{
    font-size: 40px;
    margin-left: 40px;
}
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;      
}

.about-text {
    animation: fadeIn 1.2s ease-in-out;
    margin-left: 30px;
    width: 65%;     
}

.about-table {
    animation: fadeIn 1.2s ease-in-out;
    text-align: center;
    margin-top: 20px;
    width: 35%;  
}
.about-table table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;

}
.about-table td:first-child {
    font-weight: bold;
}
.Olink {
    text-decoration: underline;
    color: lightgoldenrodyellow;    
    font-size: 17px;
}
.Olink:hover {
    color: yellow;
    font-size: 18px;
}
.MiniHeading {
    margin-left: 50px;
}
.TechSkillImg{
    margin-left: 5px;
    height: 500px;
    width: 600px;
}
.TSP {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;      
}
.TSP-Content {
    animation: fadeIn 1.2s ease-in-out;
    margin-left: 30px;
    width: 40%;  
}
.TSP-Img{
    animation: fadeIn 1.2s ease-in-out;
    text-align: center;
    margin-top: 50px;
    width: 50%;
}
