body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #4da6ff, #001f4d);
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    position: fixed;
    top: 0;
    width: 100%;
}

.spacer {
    flex-grow: 0.98;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
    color : lightblue;
}

.nav-name {
    font-size: 24px;
    color: black;
    font-weight: bold;
}
